<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="app">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form th:action="@{/users/signup}" method="POST" th:object="${user}">
            <input name="firstName" type="text" placeholder="First Name"/>
            <input name="lastName" type="text" placeholder="Last Name"/>
            <input name="email" type="text" placeholder="Email"/>
            <input name="password" type="password" placeholder="Password"/>
            <input type="submit" value="Sign Up"/>
        </form>
    </div>
</div>
</body>
</html>